<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<form action="/brand/add" method="post" class="p-3">
    <h1 class="mb-3">Add New brand</h1>

    <div class="form-group">
        <label for="name">Brand name:</label>
        <input type="text" class="form-control" name="name" id="name" required>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>
